<!DOCTYPE html>
<html>
  <head>
    <title>Database Project</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="/static/js/index.js"></script>
  </head>
  <body>
  <form action="/search/" method="get"><center>
        <br>
        bound1 <input id="bound1" type="text" name="bound1" maxlength=100 >,
        bound2 <input id="bound2" type="text" name="bound2" maxlength=100 >,
        search <input type="text" name="k" value="5"> tags
        <input type="submit" value="submit" name="search"><br>
        </center></form>
    <center>
    <div id="map-canvas" style="width:95%;height:670px; margin-top:20px;"></div>
    </center>
  </body>
</html>

